### 1. Import libraries & datasets

In [3]:
# import libraries
import pandas as pd
import numpy as np
import os

In [4]:
# import dataset

# create path for dataset 
path = r'C:\Users\pears\Desktop\CF\Achievement 6\datasets'

# create filepaths
filepath1 = os.path.join(path, '.csv', 'prevelance.csv')
filepath2 = os.path.join(path, '.csv', 'AHDI_GDPpc.csv')
filepath3 = os.path.join(path, '.csv', 'GNIpc_groupings.csv')
filepath4 = os.path.join(path, '.pkl', 'government.pkl')
filepath5 = os.path.join(path, '.csv', 'cultural_attitude.csv')
filepath6 = os.path.join(path, '.csv', 'coping_mechanisms.csv')
filepath7 = os.path.join(path, '.csv', 'happiness_report.csv')

# assign df names
prev = pd.read_csv(filepath1)
AHDIGDP = pd.read_csv(filepath2)
GNI = pd.read_csv(filepath3)
gov = pd.read_pickle(filepath4)
attitude = pd.read_csv(filepath5)
coping = pd.read_csv(filepath6)
happiness = pd.read_csv(filepath7)

### 2. Merging df to create one df for relational analysis

#### a. Creating subsets for most recent year of data collected

In [19]:
# Prevalence df

prev

,Entity,Code,Continent,Region,Year,Schizophrenia,Bipolar,Eating,Anxiety,Depressive,Average_ALL
0,Afghanistan,AFG,Asia,Southern Asia,1990,0.2290,0.7212,0.1310,4.8351,5.1253,2.2083
1,Afghanistan,AFG,Asia,Southern Asia,1991,0.2281,0.7200,0.1264,4.8218,5.1163,2.2025
2,Afghanistan,AFG,Asia,Southern Asia,1992,0.2273,0.7184,0.1218,4.8014,5.1066,2.1951
3,Afghanistan,AFG,Asia,Southern Asia,1993,0.2265,0.7175,0.1179,4.7894,5.1003,2.1903
4,Afghanistan,AFG,Asia,Southern Asia,1994,0.2256,0.7170,0.1145,4.7849,5.0994,2.1883
...,...,...,...,...,...,...,...,...,...,...,...
6145,Zimbabwe,ZWE,Africa,Eastern Africa,2015,0.2094,0.5609,0.0996,3.3157,3.5486,1.5468
6146,Zimbabwe,ZWE,Africa,Eastern Africa,2016,0.2100,0.5618,0.1008,3.3242,3.5575,1.5509
6147,Zimbabwe,ZWE,Africa,Eastern Africa,2017,0.2106,0.5626,0.1017,3.3306,3.5641,1.5539
6148,Zimbabwe,ZWE,Africa,Eastern Africa,2018,0.2112,0.5633,0.1024,3.3175,3.5631,1.5515
6149,Zimbabwe,ZWE,Africa,Eastern Africa,2019,0.2120,0.5638,0.1029,3.2839,3.5546,1.5434

In [9]:
# Prevalence: creating a subset for only 2019 data

prev_sub = prev[prev['Year']==2019]

In [7]:
prev_sub

,Entity,Code,Continent,Region,Year,Schizophrenia,Bipolar,Eating,Anxiety,Depressive,Average_ALL
29,Afghanistan,AFG,Asia,Southern Asia,2019,0.2260,0.7260,0.1218,5.0337,5.1315,2.2478
59,Albania,ALB,Europe,Southern Europe,2019,0.3071,0.5790,0.1460,4.0993,2.6280,1.5519
89,Algeria,DZA,Africa,Northern Africa,2019,0.2638,0.8008,0.2230,5.0529,4.3729,2.1427
119,American Samoa,ASM,Oceania,Polynesia,2019,0.3192,0.2943,0.1348,4.2545,2.7973,1.5600
149,Andorra,AND,Europe,Southern Europe,2019,0.3157,1.0300,0.5739,6.0083,3.9744,2.3805
...,...,...,...,...,...,...,...,...,...,...,...
6029,Vietnam,VNM,Asia,South-eastern Asia,2019,0.3380,0.3511,0.0990,2.3891,2.5832,1.1521
6059,Wales,NaN,Europe,Western Europe,2019,0.2973,0.9888,0.4503,4.6729,4.5476,2.1914
6089,Yemen,YEM,Asia,Western Asia,2019,0.2324,0.7477,0.1272,4.9269,5.0420,2.2153
6119,Zambia,ZMB,Africa,Eastern Africa,2019,0.2170,0.5856,0.1169,4.0465,4.3017,1.8536
6149,Zimbabwe,ZWE,Africa,Eastern Africa,2019,0.2120,0.5638,0.1029,3.2839,3.5546,1.5434

6,150 rows reduced to 205

In [18]:
prev_sub.count()

Entity           205
Code             203
Continent        205
Region           205
Year             205
Schizophrenia    205
Bipolar          205
Eating           205
Anxiety          205
Depressive       205
Average_ALL      205
dtype: int64

In [5]:
# AHDI & GDPpc

AHDIGDP

,Entity,Code,Continent,Region,Year,AHDI,GDPpc,Population
0,Afghanistan,AFG,Asia,Southern Asia,1990,0.0925,963,"10,694,804"
1,Afghanistan,AFG,Asia,Southern Asia,1995,0.0798,632.94,"16,418,911"
2,Afghanistan,AFG,Asia,Southern Asia,2000,0.0825,502.37,"19,542,986"
3,Afghanistan,AFG,Asia,Southern Asia,2005,0.1489,964.41,"24,411,196"
4,Afghanistan,AFG,Asia,Southern Asia,2010,0.1983,"1,627.67","28,189,672"
...,...,...,...,...,...,...,...,...
4972,Zimbabwe,ZWE,Africa,Eastern Africa,2013,NaN,"1,604.00","13,555,420"
4973,Zimbabwe,ZWE,Africa,Eastern Africa,2014,NaN,"1,594.00","13,855,758"
4974,Zimbabwe,ZWE,Africa,Eastern Africa,2016,NaN,"1,534.00","14,452,705"
4975,Zimbabwe,ZWE,Africa,Eastern Africa,2017,NaN,"1,582.37","14,751,101"
4976,Zimbabwe,ZWE,Africa,Eastern Africa,2018,NaN,"1,611.41","15,052,191"

In [10]:
# AHDI: creating a subset for only 2020 data

AHDI_sub = AHDIGDP[AHDIGDP['Year']==2020]

In [12]:
AHDI_sub

,Entity,Code,Continent,Region,Year,AHDI,GDPpc,Population
6,Afghanistan,AFG,Asia,Southern Asia,2020,0.1804,NaN,"38,972,236"
36,Albania,ALB,Europe,Southern Europe,2020,0.5165,NaN,"2,866,850"
66,Algeria,DZA,Africa,Northern Africa,2020,0.3229,NaN,"43,451,668"
96,Angola,AGO,Africa,Middle Africa,2020,0.2433,NaN,"33,428,490"
126,Argentina,ARG,South America,South America,2020,0.5809,NaN,"45,036,032"
...,...,...,...,...,...,...,...,...
4833,Venezuela,VEN,South America,South America,2020,0.2980,NaN,"28,490,458"
4863,Vietnam,VNM,Asia,South-eastern Asia,2020,0.3149,NaN,"96,648,680"
4893,Yemen,YEM,Asia,Western Asia,2020,0.1416,NaN,"32,284,044"
4923,Zambia,ZMB,Africa,Eastern Africa,2020,0.2827,NaN,"18,927,716"
4953,Zimbabwe,ZWE,Africa,Eastern Africa,2020,0.2688,NaN,"15,669,663"

In [17]:
AHDI_sub.count()

Entity        158
Code          158
Continent     158
Region        158
Year          158
AHDI          158
GDPpc           0
Population    158
dtype: int64

In [22]:
# GDPpc: creating a subset for only 2018 data

GDPpc_sub = AHDIGDP[AHDIGDP['Year']==2018]

In [23]:
GDPpc_sub

,Entity,Code,Continent,Region,Year,AHDI,GDPpc,Population
29,Afghanistan,AFG,Asia,Southern Asia,2018,NaN,"1,934.56","36,686,788"
59,Albania,ALB,Europe,Southern Europe,2018,NaN,"11,104.17","2,877,019"
89,Algeria,DZA,Africa,Northern Africa,2018,NaN,"14,228.03","41,927,008"
119,Angola,AGO,Africa,Middle Africa,2018,NaN,"7,771.44","31,273,538"
149,Argentina,ARG,South America,South America,2018,NaN,"18,556.38","44,413,592"
...,...,...,...,...,...,...,...,...
4856,Venezuela,VEN,South America,South America,2018,NaN,"10,709.95","29,825,652"
4886,Vietnam,VNM,Asia,South-eastern Asia,2018,NaN,"6,814.14","94,914,328"
4916,Yemen,YEM,Asia,Western Asia,2018,NaN,"2,284.89","30,790,514"
4946,Zambia,ZMB,Africa,Eastern Africa,2018,NaN,"3,534.03","17,835,898"
4976,Zimbabwe,ZWE,Africa,Eastern Africa,2018,NaN,"1,611.41","15,052,191"

In [24]:
GDPpc_sub.count()

Entity        165
Code          164
Continent     165
Region        165
Year          165
AHDI            0
GDPpc         165
Population    164
dtype: int64

In [31]:
# happiness index

happiness

,Entity,Continent,Region,Year,Life_ladder,GDPpc,Social_support,Healthy_life_expectancy_at_birth,Freedom_to_make_life_choices,Perceptions_of_corruption,Positive_affect,Negative_affect
0,Afghanistan,Asia,Southern Asia,2008,3.724,7.350,0.451,50.500,0.718,0.882,0.414,0.258
1,Afghanistan,Asia,Southern Asia,2009,4.402,7.509,0.552,50.800,0.679,0.850,0.481,0.237
2,Afghanistan,Asia,Southern Asia,2010,4.758,7.614,0.539,51.100,0.600,0.707,0.517,0.275
3,Afghanistan,Asia,Southern Asia,2011,3.832,7.581,0.521,51.400,0.496,0.731,0.480,0.267
4,Afghanistan,Asia,Southern Asia,2012,3.783,7.661,0.521,51.700,0.531,0.776,0.614,0.268
...,...,...,...,...,...,...,...,...,...,...,...,...
2151,Zimbabwe,Africa,Eastern Africa,2018,3.616,7.783,0.775,52.625,0.763,0.844,0.658,0.212
2152,Zimbabwe,Africa,Eastern Africa,2019,2.694,7.698,0.759,53.100,0.632,0.831,0.658,0.235
2153,Zimbabwe,Africa,Eastern Africa,2020,3.160,7.596,0.717,53.575,0.643,0.789,0.661,0.346
2154,Zimbabwe,Africa,Eastern Africa,2021,3.155,7.657,0.685,54.050,0.668,0.757,0.610,0.242
2155,Zimbabwe,Africa,Eastern Africa,2022,3.296,7.670,0.666,54.525,0.652,0.753,0.641,0.191

In [35]:
# happiness index: creating a subset for only 2022 data

happiness_sub = happiness[happiness['Year']==2017]

In [36]:
happiness_sub

,Entity,Continent,Region,Year,Life_ladder,GDPpc,Social_support,Healthy_life_expectancy_at_birth,Freedom_to_make_life_choices,Perceptions_of_corruption,Positive_affect,Negative_affect,Unnamed: 12,Row Labels,Count of Year,Count of Positive_affect,Count of Negative_affect,Count of Perceptions_of_corruption
9,Afghanistan,Asia,Southern Asia,2017,2.662,7.648,0.491,53.25,0.427,0.954,0.435,0.371,NaN,2014,141.0,137.0,138.0,132.0
23,Albania,Europe,Southern Europe,2017,4.640,9.455,0.638,69.05,0.750,0.876,0.547,0.334,NaN,NaN,NaN,NaN,NaN,NaN
34,Algeria,Africa,Northern Africa,2017,5.249,9.377,0.807,66.20,0.437,0.700,0.555,0.289,NaN,NaN,NaN,NaN,NaN,NaN
54,Argentina,South America,South America,2017,6.039,10.069,0.907,67.00,0.832,0.841,0.715,0.292,NaN,NaN,NaN,NaN,NaN,NaN
71,Armenia,Asia,Western Asia,2017,4.288,9.434,0.698,66.55,0.614,0.865,0.552,0.437,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2089,Venezuela,South America,South America,2017,5.071,5.943,0.896,64.75,0.636,0.844,0.697,0.363,NaN,NaN,NaN,NaN,NaN,NaN
2106,Vietnam,Asia,South-eastern Asia,2017,5.175,9.111,0.876,65.10,0.894,0.799,0.487,0.223,NaN,NaN,NaN,NaN,NaN,NaN
2121,Yemen,Asia,Western Asia,2017,3.254,7.243,0.790,57.95,0.595,0.793,0.368,0.295,NaN,NaN,NaN,NaN,NaN,NaN
2134,Zambia,Africa,Eastern Africa,2017,3.933,8.130,0.744,53.55,0.823,0.740,0.660,0.387,NaN,NaN,NaN,NaN,NaN,NaN
2150,Zimbabwe,Africa,Eastern Africa,2017,3.638,7.754,0.754,52.15,0.753,0.751,0.734,0.224,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
happiness_sub['Entity'].nunique()

152

#### b. Merging dfs

In [48]:
GDPpc_sub

,Entity,Code,Continent,Region,Year,AHDI,GDPpc,Population
29,Afghanistan,AFG,Asia,Southern Asia,2018,NaN,"1,934.56","36,686,788"
59,Albania,ALB,Europe,Southern Europe,2018,NaN,"11,104.17","2,877,019"
89,Algeria,DZA,Africa,Northern Africa,2018,NaN,"14,228.03","41,927,008"
119,Angola,AGO,Africa,Middle Africa,2018,NaN,"7,771.44","31,273,538"
149,Argentina,ARG,South America,South America,2018,NaN,"18,556.38","44,413,592"
...,...,...,...,...,...,...,...,...
4856,Venezuela,VEN,South America,South America,2018,NaN,"10,709.95","29,825,652"
4886,Vietnam,VNM,Asia,South-eastern Asia,2018,NaN,"6,814.14","94,914,328"
4916,Yemen,YEM,Asia,Western Asia,2018,NaN,"2,284.89","30,790,514"
4946,Zambia,ZMB,Africa,Eastern Africa,2018,NaN,"3,534.03","17,835,898"
4976,Zimbabwe,ZWE,Africa,Eastern Africa,2018,NaN,"1,611.41","15,052,191"

In [58]:
# merge GDPpc_sub onto prev_sub using Entity has key; add merge flag

prev_sub_merge = prev_sub.merge(GDPpc_sub[['Entity','GDPpc']], on = 'Entity', how = 'left', indicator=True)

In [59]:
prev_sub_merge

,Entity,Code,Continent,Region,Year,Schizophrenia,Bipolar,Eating,Anxiety,Depressive,Average_ALL,GDPpc,_merge
0,Afghanistan,AFG,Asia,Southern Asia,2019,0.2260,0.7260,0.1218,5.0337,5.1315,2.2478,"1,934.56",both
1,Albania,ALB,Europe,Southern Europe,2019,0.3071,0.5790,0.1460,4.0993,2.6280,1.5519,"11,104.17",both
2,Algeria,DZA,Africa,Northern Africa,2019,0.2638,0.8008,0.2230,5.0529,4.3729,2.1427,"14,228.03",both
3,American Samoa,ASM,Oceania,Polynesia,2019,0.3192,0.2943,0.1348,4.2545,2.7973,1.5600,NaN,left_only
4,Andorra,AND,Europe,Southern Europe,2019,0.3157,1.0300,0.5739,6.0083,3.9744,2.3805,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,Vietnam,VNM,Asia,South-eastern Asia,2019,0.3380,0.3511,0.0990,2.3891,2.5832,1.1521,"6,814.14",both
201,Wales,NaN,Europe,Western Europe,2019,0.2973,0.9888,0.4503,4.6729,4.5476,2.1914,NaN,left_only
202,Yemen,YEM,Asia,Western Asia,2019,0.2324,0.7477,0.1272,4.9269,5.0420,2.2153,"2,284.89",both
203,Zambia,ZMB,Africa,Eastern Africa,2019,0.2170,0.5856,0.1169,4.0465,4.3017,1.8536,"3,534.03",both
204,Zimbabwe,ZWE,Africa,Eastern Africa,2019,0.2120,0.5638,0.1029,3.2839,3.5546,1.5434,"1,611.41",both

In [64]:
# deleting '_merge' column 

prev_sub_merge.drop(columns = ['_merge'], inplace=True)

In [60]:
AHDI_sub

,Entity,Code,Continent,Region,Year,AHDI,GDPpc,Population
6,Afghanistan,AFG,Asia,Southern Asia,2020,0.1804,NaN,"38,972,236"
36,Albania,ALB,Europe,Southern Europe,2020,0.5165,NaN,"2,866,850"
66,Algeria,DZA,Africa,Northern Africa,2020,0.3229,NaN,"43,451,668"
96,Angola,AGO,Africa,Middle Africa,2020,0.2433,NaN,"33,428,490"
126,Argentina,ARG,South America,South America,2020,0.5809,NaN,"45,036,032"
...,...,...,...,...,...,...,...,...
4833,Venezuela,VEN,South America,South America,2020,0.2980,NaN,"28,490,458"
4863,Vietnam,VNM,Asia,South-eastern Asia,2020,0.3149,NaN,"96,648,680"
4893,Yemen,YEM,Asia,Western Asia,2020,0.1416,NaN,"32,284,044"
4923,Zambia,ZMB,Africa,Eastern Africa,2020,0.2827,NaN,"18,927,716"
4953,Zimbabwe,ZWE,Africa,Eastern Africa,2020,0.2688,NaN,"15,669,663"

In [66]:
# merge AHDI onto prev_sub_merge using Entity has key; add merge flag

prev_sub_merge = prev_sub_merge.merge(AHDI_sub[['Entity','AHDI']], on = 'Entity', how = 'left', indicator=True)

In [69]:
# deleting '_merge' column 

prev_sub_merge.drop(columns = ['_merge'], inplace=True)

In [70]:
prev_sub_merge

,Entity,Code,Continent,Region,Year,Schizophrenia,Bipolar,Eating,Anxiety,Depressive,Average_ALL,GDPpc,AHDI
0,Afghanistan,AFG,Asia,Southern Asia,2019,0.2260,0.7260,0.1218,5.0337,5.1315,2.2478,"1,934.56",0.1804
1,Albania,ALB,Europe,Southern Europe,2019,0.3071,0.5790,0.1460,4.0993,2.6280,1.5519,"11,104.17",0.5165
2,Algeria,DZA,Africa,Northern Africa,2019,0.2638,0.8008,0.2230,5.0529,4.3729,2.1427,"14,228.03",0.3229
3,American Samoa,ASM,Oceania,Polynesia,2019,0.3192,0.2943,0.1348,4.2545,2.7973,1.5600,NaN,NaN
4,Andorra,AND,Europe,Southern Europe,2019,0.3157,1.0300,0.5739,6.0083,3.9744,2.3805,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,Vietnam,VNM,Asia,South-eastern Asia,2019,0.3380,0.3511,0.0990,2.3891,2.5832,1.1521,"6,814.14",0.3149
201,Wales,NaN,Europe,Western Europe,2019,0.2973,0.9888,0.4503,4.6729,4.5476,2.1914,NaN,NaN
202,Yemen,YEM,Asia,Western Asia,2019,0.2324,0.7477,0.1272,4.9269,5.0420,2.2153,"2,284.89",0.1416
203,Zambia,ZMB,Africa,Eastern Africa,2019,0.2170,0.5856,0.1169,4.0465,4.3017,1.8536,"3,534.03",0.2827
204,Zimbabwe,ZWE,Africa,Eastern Africa,2019,0.2120,0.5638,0.1029,3.2839,3.5546,1.5434,"1,611.41",0.2688

In [72]:
# merge GNI onto prev_sub_merge using Entity has key; add merge flag

prev_sub_merge = prev_sub_merge.merge(GNI[['Entity','Income_group']], on = 'Entity', how = 'left', indicator=True)

In [76]:
# deleting '_merge' column 

prev_sub_merge.drop(columns = ['_merge'], inplace=True)

In [78]:
prev_sub_merge

,Entity,Code,Continent,Region,Year,Schizophrenia,Bipolar,Eating,Anxiety,Depressive,Average_ALL,GDPpc,AHDI,Income_group
0,Afghanistan,AFG,Asia,Southern Asia,2019,0.2260,0.7260,0.1218,5.0337,5.1315,2.2478,"1,934.56",0.1804,Low income
1,Albania,ALB,Europe,Southern Europe,2019,0.3071,0.5790,0.1460,4.0993,2.6280,1.5519,"11,104.17",0.5165,Upper middle income
2,Algeria,DZA,Africa,Northern Africa,2019,0.2638,0.8008,0.2230,5.0529,4.3729,2.1427,"14,228.03",0.3229,Lower middle income
3,American Samoa,ASM,Oceania,Polynesia,2019,0.3192,0.2943,0.1348,4.2545,2.7973,1.5600,NaN,NaN,High income
4,Andorra,AND,Europe,Southern Europe,2019,0.3157,1.0300,0.5739,6.0083,3.9744,2.3805,NaN,NaN,High income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,Vietnam,VNM,Asia,South-eastern Asia,2019,0.3380,0.3511,0.0990,2.3891,2.5832,1.1521,"6,814.14",0.3149,Lower middle income
201,Wales,NaN,Europe,Western Europe,2019,0.2973,0.9888,0.4503,4.6729,4.5476,2.1914,NaN,NaN,NaN
202,Yemen,YEM,Asia,Western Asia,2019,0.2324,0.7477,0.1272,4.9269,5.0420,2.2153,"2,284.89",0.1416,Low income
203,Zambia,ZMB,Africa,Eastern Africa,2019,0.2170,0.5856,0.1169,4.0465,4.3017,1.8536,"3,534.03",0.2827,Lower middle income
204,Zimbabwe,ZWE,Africa,Eastern Africa,2019,0.2120,0.5638,0.1029,3.2839,3.5546,1.5434,"1,611.41",0.2688,Lower middle income

In [82]:
gov.head(5)

        Entity Code Continent           Region Legis Policy  %Invest
0  Afghanistan  AFG      Asia    Southern Asia   Yes    Yes      NaN
1      Albania  ALB    Europe  Southern Europe   Yes    Yes      NaN
2      Algeria  DZA    Africa  Northern Africa   Yes    Yes     7.37
3      Andorra  AND    Europe  Southern Europe   Yes     No      NaN
4       Angola  AGO    Africa    Middle Africa    No     No      NaN

In [83]:
# merge gov onto prev_sub_merge using Entity has key; add merge flag

prev_sub_merge = prev_sub_merge.merge(gov[['Entity','Legis', 'Policy', '%Invest']], on = 'Entity', how = 'left', indicator=True)

In [84]:
prev_sub_merge.head(10)

,Entity,Code,Continent,Region,Year,Schizophrenia,Bipolar,Eating,Anxiety,Depressive,Average_ALL,GDPpc,AHDI,Income_group,Legis,Policy,%Invest,_merge
0,Afghanistan,AFG,Asia,Southern Asia,2019,0.2260,0.7260,0.1218,5.0337,5.1315,2.2478,"1,934.56",0.1804,Low income,Yes,Yes,NaN,both
1,Albania,ALB,Europe,Southern Europe,2019,0.3071,0.5790,0.1460,4.0993,2.6280,1.5519,"11,104.17",0.5165,Upper middle income,Yes,Yes,NaN,both
2,Algeria,DZA,Africa,Northern Africa,2019,0.2638,0.8008,0.2230,5.0529,4.3729,2.1427,"14,228.03",0.3229,Lower middle income,Yes,Yes,7.37,both
3,American Samoa,ASM,Oceania,Polynesia,2019,0.3192,0.2943,0.1348,4.2545,2.7973,1.5600,NaN,NaN,High income,NaN,NaN,NaN,left_only
4,Andorra,AND,Europe,Southern Europe,2019,0.3157,1.0300,0.5739,6.0083,3.9744,2.3805,NaN,NaN,High income,Yes,No,NaN,both
5,Angola,AGO,Africa,Middle Africa,2019,0.2241,0.5646,0.1394,4.0102,5.8554,2.1587,"7,771.44",0.2433,Lower middle income,No,No,NaN,both
6,Antigua and Barbuda,ATG,North America,Caribbean,2019,0.3025,0.9891,0.2839,4.5413,3.1735,1.8580,NaN,NaN,High income,Yes,No,NaN,both
7,Argentina,ARG,South America,South America,2019,0.3349,1.1169,0.3571,5.3559,2.5877,1.9505,"18,556.38",0.5809,Upper middle income,Yes,Yes,NaN,both
8,Armenia,ARM,Asia,Western Asia,2019,0.3020,0.5786,0.1346,3.3665,3.1882,1.5140,"11,454.43",0.5583,Upper middle income,Yes,No,3.38,both
9,Australia,AUS,Oceania,Australia and New Zealand,2019,0.4282,1.2395,1.1365,6.4060,4.8278,2.8076,"49,830.80",0.8479,High income,Yes,Yes,7.64,both

In [87]:
# deleting '_merge' column 

prev_sub_merge.drop(columns = ['_merge'], inplace=True)

In [90]:
attitude.head(10)

,Entity,Code,Continent,Region,Year,F/F_have_been_A/D_YES,Very_comfortable_speaking_about_A/D_with_F/F_YES,Verycomfortable_vs_Havebeen,Unnamed: 8
0,Japan,JPN,Asia,Eastern Asia,2020,31.68,2.71,-0.91,111.0
1,Russia,RUS,Europe,Eastern Europe,2020,37.33,9.94,-0.73,NaN
2,Australia,AUS,Oceania,Australia and New Zealand,2020,51.28,7.19,-0.86,NaN
3,United States,USA,North America,Northern America,2020,48.09,7.25,-0.85,NaN
4,Canada,CAN,North America,Northern America,2020,58.32,8.87,-0.85,NaN
5,New Zealand,NZL,Oceania,Australia and New Zealand,2020,49.69,7.62,-0.85,NaN
6,Ukraine,UKR,Europe,Eastern Europe,2020,36.23,11.79,-0.67,NaN
7,Czechia,CZE,Europe,Eastern Europe,2020,35.31,13.28,-0.62,NaN
8,Bulgaria,BGR,Europe,Eastern Europe,2020,47.12,19.05,-0.60,NaN
9,Hungary,HUN,Europe,Eastern Europe,2020,37.40,16.06,-0.57,NaN

In [91]:
# merge attitude onto prev_sub_merge using Entity has key; add merge flag

prev_sub_merge = prev_sub_merge.merge(attitude[['Entity','F/F_have_been_A/D_YES', 'Very_comfortable_speaking_about_A/D_with_F/F_YES', 'Verycomfortable_vs_Havebeen']], on = 'Entity', how = 'left', indicator=True)

In [93]:
# deleting '_merge' column 

prev_sub_merge.drop(columns = ['_merge'], inplace=True)

In [94]:
prev_sub_merge

,Entity,Code,Continent,Region,Year,Schizophrenia,Bipolar,Eating,Anxiety,Depressive,Average_ALL,GDPpc,AHDI,Income_group,Legis,Policy,%Invest,F/F_have_been_A/D_YES,Very_comfortable_speaking_about_A/D_with_F/F_YES,Verycomfortable_vs_Havebeen
0,Afghanistan,AFG,Asia,Southern Asia,2019,0.2260,0.7260,0.1218,5.0337,5.1315,2.2478,"1,934.56",0.1804,Low income,Yes,Yes,NaN,NaN,NaN,NaN
1,Albania,ALB,Europe,Southern Europe,2019,0.3071,0.5790,0.1460,4.0993,2.6280,1.5519,"11,104.17",0.5165,Upper middle income,Yes,Yes,NaN,28.00,25.49,-0.09
2,Algeria,DZA,Africa,Northern Africa,2019,0.2638,0.8008,0.2230,5.0529,4.3729,2.1427,"14,228.03",0.3229,Lower middle income,Yes,Yes,7.37,20.88,31.64,0.52
3,American Samoa,ASM,Oceania,Polynesia,2019,0.3192,0.2943,0.1348,4.2545,2.7973,1.5600,NaN,NaN,High income,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,Europe,Southern Europe,2019,0.3157,1.0300,0.5739,6.0083,3.9744,2.3805,NaN,NaN,High income,Yes,No,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,Vietnam,VNM,Asia,South-eastern Asia,2019,0.3380,0.3511,0.0990,2.3891,2.5832,1.1521,"6,814.14",0.3149,Lower middle income,No,No,NaN,39.87,28.22,-0.29
202,Wales,NaN,Europe,Western Europe,2019,0.2973,0.9888,0.4503,4.6729,4.5476,2.1914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,Yemen,YEM,Asia,Western Asia,2019,0.2324,0.7477,0.1272,4.9269,5.0420,2.2153,"2,284.89",0.1416,Low income,No,No,NaN,NaN,NaN,NaN
204,Zambia,ZMB,Africa,Eastern Africa,2019,0.2170,0.5856,0.1169,4.0465,4.3017,1.8536,"3,534.03",0.2827,Lower middle income,Yes,Yes,NaN,57.34,31.30,-0.45
205,Zimbabwe,ZWE,Africa,Eastern Africa,2019,0.2120,0.5638,0.1029,3.2839,3.5546,1.5434,"1,611.41",0.2688,Lower middle income,Yes,Yes,0.01,45.04,45.67,0.01

In [95]:
coping

,Entity,Code,Continent,Region,Year,talked_to_F/F,spent_time_in_nature_outdoors,improved_healthy_lifestyle_behaviors,made_change_to_personal_relationships,made_change_to_work_situation,took_prescribed_medication,talked_to_mental_health_professional,engaged_in_religious_spiritual_activities
0,Albania,ALB,Europe,Southern Europe,2020,86.52499,88.64183,67.71693,54.19250,39.66084,40.89743,34.49906,36.17760
1,Argentina,ARG,South America,South America,2020,71.96290,80.90894,73.14098,73.66945,52.18955,37.71806,48.31918,48.52904
2,Australia,AUS,Oceania,Australia and New Zealand,2020,83.66190,79.70587,78.53241,58.10160,55.52812,71.37634,75.43173,19.38841
3,Austria,AUT,Europe,Western Europe,2020,87.92614,79.15044,82.49303,47.03699,61.85538,57.57226,70.52409,33.62818
4,Bahrain,BHR,Asia,Western Asia,2020,79.08222,76.39494,71.67275,67.35133,49.27055,35.08781,30.74294,51.51606
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Uzbekistan,UZB,Asia,Central Asia,2020,71.34779,75.81158,69.63950,58.93020,47.46711,61.05692,17.23869,17.44763
96,Venezuela,VEN,South America,South America,2020,87.47985,78.55409,79.48106,79.11776,67.12808,36.11490,34.19050,54.64108
97,Vietnam,VNM,Asia,South-eastern Asia,2020,87.42293,70.14963,84.59566,64.91945,64.33992,47.53472,21.62709,26.91149
98,Zambia,ZMB,Africa,Eastern Africa,2020,85.21131,62.21714,73.74495,70.07629,62.15097,35.75948,29.77761,77.35696
99,Zimbabwe,ZWE,Africa,Eastern Africa,2020,93.68260,64.34553,63.66773,52.76100,38.66966,41.94861,12.30104,63.31352

In [96]:
# merge coping onto prev_sub_merge using Entity has key; add merge flag

prev_sub_merge = prev_sub_merge.merge(coping[['Entity','talked_to_F/F', 'spent_time_in_nature_outdoors', 'improved_healthy_lifestyle_behaviors', 'made_change_to_personal_relationships', 'made_change_to_work_situation', 'took_prescribed_medication', 'talked_to_mental_health_professional', 'engaged_in_religious_spiritual_activities']], on = 'Entity', how = 'left', indicator=True)

In [98]:
# deleting '_merge' column 

prev_sub_merge.drop(columns = ['_merge'], inplace=True)

In [100]:
happiness_sub

,Entity,Continent,Region,Year,Life_ladder,GDPpc,Social_support,Healthy_life_expectancy_at_birth,Freedom_to_make_life_choices,Perceptions_of_corruption,Positive_affect,Negative_affect,Unnamed: 12,Row Labels,Count of Year,Count of Positive_affect,Count of Negative_affect,Count of Perceptions_of_corruption
9,Afghanistan,Asia,Southern Asia,2017,2.662,7.648,0.491,53.25,0.427,0.954,0.435,0.371,NaN,2014,141.0,137.0,138.0,132.0
23,Albania,Europe,Southern Europe,2017,4.640,9.455,0.638,69.05,0.750,0.876,0.547,0.334,NaN,NaN,NaN,NaN,NaN,NaN
34,Algeria,Africa,Northern Africa,2017,5.249,9.377,0.807,66.20,0.437,0.700,0.555,0.289,NaN,NaN,NaN,NaN,NaN,NaN
54,Argentina,South America,South America,2017,6.039,10.069,0.907,67.00,0.832,0.841,0.715,0.292,NaN,NaN,NaN,NaN,NaN,NaN
71,Armenia,Asia,Western Asia,2017,4.288,9.434,0.698,66.55,0.614,0.865,0.552,0.437,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2089,Venezuela,South America,South America,2017,5.071,5.943,0.896,64.75,0.636,0.844,0.697,0.363,NaN,NaN,NaN,NaN,NaN,NaN
2106,Vietnam,Asia,South-eastern Asia,2017,5.175,9.111,0.876,65.10,0.894,0.799,0.487,0.223,NaN,NaN,NaN,NaN,NaN,NaN
2121,Yemen,Asia,Western Asia,2017,3.254,7.243,0.790,57.95,0.595,0.793,0.368,0.295,NaN,NaN,NaN,NaN,NaN,NaN
2134,Zambia,Africa,Eastern Africa,2017,3.933,8.130,0.744,53.55,0.823,0.740,0.660,0.387,NaN,NaN,NaN,NaN,NaN,NaN
2150,Zimbabwe,Africa,Eastern Africa,2017,3.638,7.754,0.754,52.15,0.753,0.751,0.734,0.224,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
# merge happiness_sub onto prev_sub_merge using Entity has key; add merge flag

prev_sub_merge = prev_sub_merge.merge(happiness_sub[['Entity', 'Life_ladder', 'Social_support', 'Healthy_life_expectancy_at_birth', 'Freedom_to_make_life_choices', 'Perceptions_of_corruption', 'Positive_affect', 'Negative_affect']], on = 'Entity', how = 'left', indicator=True)

In [102]:
prev_sub_merge

,Entity,Code,Continent,Region,Year,Schizophrenia,Bipolar,Eating,Anxiety,Depressive,...,talked_to_mental_health_professional,engaged_in_religious_spiritual_activities,Life_ladder,Social_support,Healthy_life_expectancy_at_birth,Freedom_to_make_life_choices,Perceptions_of_corruption,Positive_affect,Negative_affect,_merge
0,Afghanistan,AFG,Asia,Southern Asia,2019,0.2260,0.7260,0.1218,5.0337,5.1315,...,NaN,NaN,2.662,0.491,53.25,0.427,0.954,0.435,0.371,both
1,Albania,ALB,Europe,Southern Europe,2019,0.3071,0.5790,0.1460,4.0993,2.6280,...,34.49906,36.17760,4.640,0.638,69.05,0.750,0.876,0.547,0.334,both
2,Algeria,DZA,Africa,Northern Africa,2019,0.2638,0.8008,0.2230,5.0529,4.3729,...,NaN,NaN,5.249,0.807,66.20,0.437,0.700,0.555,0.289,both
3,American Samoa,ASM,Oceania,Polynesia,2019,0.3192,0.2943,0.1348,4.2545,2.7973,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,Andorra,AND,Europe,Southern Europe,2019,0.3157,1.0300,0.5739,6.0083,3.9744,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,Vietnam,VNM,Asia,South-eastern Asia,2019,0.3380,0.3511,0.0990,2.3891,2.5832,...,21.62709,26.91149,5.175,0.876,65.10,0.894,0.799,0.487,0.223,both
202,Wales,NaN,Europe,Western Europe,2019,0.2973,0.9888,0.4503,4.6729,4.5476,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
203,Yemen,YEM,Asia,Western Asia,2019,0.2324,0.7477,0.1272,4.9269,5.0420,...,NaN,NaN,3.254,0.790,57.95,0.595,0.793,0.368,0.295,both
204,Zambia,ZMB,Africa,Eastern Africa,2019,0.2170,0.5856,0.1169,4.0465,4.3017,...,29.77761,77.35696,3.933,0.744,53.55,0.823,0.740,0.660,0.387,both
205,Zimbabwe,ZWE,Africa,Eastern Africa,2019,0.2120,0.5638,0.1029,3.2839,3.5546,...,12.30104,63.31352,3.638,0.754,52.15,0.753,0.751,0.734,0.224,both

In [103]:
# deleting '_merge' column 

prev_sub_merge.drop(columns = ['_merge'], inplace=True)

In [144]:
# deleting 'Year' column

prev_sub_merge.drop(columns = ['Year'], inplace=True)

In [145]:
prev_sub_merge

,Entity,Code,Continent,Region,Schizophrenia,Bipolar,Eating,Anxiety,Depressive,Average_ALL,GDPpc,AHDI,Income_group,Legis,Policy,%Invest,F/F_have_been_A/D_YES,Very_comfortable_speaking_about_A/D_with_F/F_YES,Verycomfortable_vs_Havebeen,talked_to_F/F,spent_time_in_nature_outdoors,improved_healthy_lifestyle_behaviors,made_change_to_personal_relationships,made_change_to_work_situation,took_prescribed_medication,talked_to_mental_health_professional,engaged_in_religious_spiritual_activities,Life_ladder,Social_support,Healthy_life_expectancy_at_birth,Freedom_to_make_life_choices,Perceptions_of_corruption,Positive_affect,Negative_affect
0,Afghanistan,AFG,Asia,Southern Asia,0.2260,0.7260,0.1218,5.0337,5.1315,2.2478,"1,934.56",0.1804,Low income,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.662,0.491,53.25,0.427,0.954,0.435,0.371
1,Albania,ALB,Europe,Southern Europe,0.3071,0.5790,0.1460,4.0993,2.6280,1.5519,"11,104.17",0.5165,Upper middle income,Yes,Yes,NaN,28.00,25.49,-0.09,86.52499,88.64183,67.71693,54.19250,39.66084,40.89743,34.49906,36.17760,4.640,0.638,69.05,0.750,0.876,0.547,0.334
2,Algeria,DZA,Africa,Northern Africa,0.2638,0.8008,0.2230,5.0529,4.3729,2.1427,"14,228.03",0.3229,Lower middle income,Yes,Yes,7.37,20.88,31.64,0.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.249,0.807,66.20,0.437,0.700,0.555,0.289
3,American Samoa,ASM,Oceania,Polynesia,0.3192,0.2943,0.1348,4.2545,2.7973,1.5600,NaN,NaN,High income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,Europe,Southern Europe,0.3157,1.0300,0.5739,6.0083,3.9744,2.3805,NaN,NaN,High income,Yes,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,Vietnam,VNM,Asia,South-eastern Asia,0.3380,0.3511,0.0990,2.3891,2.5832,1.1521,"6,814.14",0.3149,Lower middle income,No,No,NaN,39.87,28.22,-0.29,87.42293,70.14963,84.59566,64.91945,64.33992,47.53472,21.62709,26.91149,5.175,0.876,65.10,0.894,0.799,0.487,0.223
202,Wales,NaN,Europe,Western Europe,0.2973,0.9888,0.4503,4.6729,4.5476,2.1914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,Yemen,YEM,Asia,Western Asia,0.2324,0.7477,0.1272,4.9269,5.0420,2.2153,"2,284.89",0.1416,Low income,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.254,0.790,57.95,0.595,0.793,0.368,0.295
204,Zambia,ZMB,Africa,Eastern Africa,0.2170,0.5856,0.1169,4.0465,4.3017,1.8536,"3,534.03",0.2827,Lower middle income,Yes,Yes,NaN,57.34,31.30,-0.45,85.21131,62.21714,73.74495,70.07629,62.15097,35.75948,29.77761,77.35696,3.933,0.744,53.55,0.823,0.740,0.660,0.387
205,Zimbabwe,ZWE,Africa,Eastern Africa,0.2120,0.5638,0.1029,3.2839,3.5546,1.5434,"1,611.41",0.2688,Lower middle income,Yes,Yes,0.01,45.04,45.67,0.01,93.68260,64.34553,63.66773,52.76100,38.66966,41.94861,12.30104,63.31352,3.638,0.754,52.15,0.753,0.751,0.734,0.224

### 3. Changing Yes to 1, No to 0 (for Legis and Policy columns)

In [106]:
# remove column limit of output 

pd.options.display.max_columns = None

In [107]:
prev_sub_merge.head(5)

,Entity,Code,Continent,Region,Year,Schizophrenia,Bipolar,Eating,Anxiety,Depressive,Average_ALL,GDPpc,AHDI,Income_group,Legis,Policy,%Invest,F/F_have_been_A/D_YES,Very_comfortable_speaking_about_A/D_with_F/F_YES,Verycomfortable_vs_Havebeen,talked_to_F/F,spent_time_in_nature_outdoors,improved_healthy_lifestyle_behaviors,made_change_to_personal_relationships,made_change_to_work_situation,took_prescribed_medication,talked_to_mental_health_professional,engaged_in_religious_spiritual_activities,Life_ladder,Social_support,Healthy_life_expectancy_at_birth,Freedom_to_make_life_choices,Perceptions_of_corruption,Positive_affect,Negative_affect
0,Afghanistan,AFG,Asia,Southern Asia,2019,0.2260,0.7260,0.1218,5.0337,5.1315,2.2478,"1,934.56",0.1804,Low income,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.662,0.491,53.25,0.427,0.954,0.435,0.371
1,Albania,ALB,Europe,Southern Europe,2019,0.3071,0.5790,0.1460,4.0993,2.6280,1.5519,"11,104.17",0.5165,Upper middle income,Yes,Yes,NaN,28.00,25.49,-0.09,86.52499,88.64183,67.71693,54.1925,39.66084,40.89743,34.49906,36.1776,4.640,0.638,69.05,0.750,0.876,0.547,0.334
2,Algeria,DZA,Africa,Northern Africa,2019,0.2638,0.8008,0.2230,5.0529,4.3729,2.1427,"14,228.03",0.3229,Lower middle income,Yes,Yes,7.37,20.88,31.64,0.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.249,0.807,66.20,0.437,0.700,0.555,0.289
3,American Samoa,ASM,Oceania,Polynesia,2019,0.3192,0.2943,0.1348,4.2545,2.7973,1.5600,NaN,NaN,High income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,Europe,Southern Europe,2019,0.3157,1.0300,0.5739,6.0083,3.9744,2.3805,NaN,NaN,High income,Yes,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [142]:
# replacing yes with 1, no with 1 for columns Legis and Policy; replacing GNI income_groups with 1~4

prev_sub_merge_num = prev_sub_merge_num = prev_sub_merge.replace({'Legis': {'Yes': '1', 'No': '0'}, 'Policy': {'Yes': '1', 'No': '0'}, 'Income_group': {'Low income': '1', 'Lower middle income': '2', 'Upper middle income': '3', 'High income': '4'}})

In [140]:
prev_sub_merge_num.head(10)

,Entity,Code,Continent,Region,Year,Schizophrenia,Bipolar,Eating,Anxiety,Depressive,Average_ALL,GDPpc,AHDI,Income_group,Legis,Policy,%Invest,F/F_have_been_A/D_YES,Very_comfortable_speaking_about_A/D_with_F/F_YES,Verycomfortable_vs_Havebeen,talked_to_F/F,spent_time_in_nature_outdoors,improved_healthy_lifestyle_behaviors,made_change_to_personal_relationships,made_change_to_work_situation,took_prescribed_medication,talked_to_mental_health_professional,engaged_in_religious_spiritual_activities,Life_ladder,Social_support,Healthy_life_expectancy_at_birth,Freedom_to_make_life_choices,Perceptions_of_corruption,Positive_affect,Negative_affect
0,Afghanistan,AFG,Asia,Southern Asia,2019,0.2260,0.7260,0.1218,5.0337,5.1315,2.2478,"1,934.56",0.1804,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.662,0.491,53.25,0.427,0.954,0.435,0.371
1,Albania,ALB,Europe,Southern Europe,2019,0.3071,0.5790,0.1460,4.0993,2.6280,1.5519,"11,104.17",0.5165,3,1,1,NaN,28.00,25.49,-0.09,86.52499,88.64183,67.71693,54.19250,39.66084,40.89743,34.49906,36.17760,4.640,0.638,69.05,0.750,0.876,0.547,0.334
2,Algeria,DZA,Africa,Northern Africa,2019,0.2638,0.8008,0.2230,5.0529,4.3729,2.1427,"14,228.03",0.3229,2,1,1,7.37,20.88,31.64,0.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.249,0.807,66.20,0.437,0.700,0.555,0.289
3,American Samoa,ASM,Oceania,Polynesia,2019,0.3192,0.2943,0.1348,4.2545,2.7973,1.5600,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,Europe,Southern Europe,2019,0.3157,1.0300,0.5739,6.0083,3.9744,2.3805,NaN,NaN,4,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Angola,AGO,Africa,Middle Africa,2019,0.2241,0.5646,0.1394,4.0102,5.8554,2.1587,"7,771.44",0.2433,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,ATG,North America,Caribbean,2019,0.3025,0.9891,0.2839,4.5413,3.1735,1.8580,NaN,NaN,4,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Argentina,ARG,South America,South America,2019,0.3349,1.1169,0.3571,5.3559,2.5877,1.9505,"18,556.38",0.5809,3,1,1,NaN,53.23,26.54,-0.50,71.96290,80.90894,73.14098,73.66945,52.18955,37.71806,48.31918,48.52904,6.039,0.907,67.00,0.832,0.841,0.715,0.292
8,Armenia,ARM,Asia,Western Asia,2019,0.3020,0.5786,0.1346,3.3665,3.1882,1.5140,"11,454.43",0.5583,3,1,0,3.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.288,0.698,66.55,0.614,0.865,0.552,0.437
9,Australia,AUS,Oceania,Australia and New Zealand,2019,0.4282,1.2395,1.1365,6.4060,4.8278,2.8076,"49,830.80",0.8479,4,1,1,7.64,51.28,7.19,-0.86,83.66190,79.70587,78.53241,58.10160,55.52812,71.37634,75.43173,19.38841,7.257,0.950,70.75,0.911,0.411,0.728,0.225

In [147]:
# deleting 'Year' column

prev_sub_merge_num.drop(columns = ['Year'], inplace=True)

In [148]:
prev_sub_merge_num

,Entity,Code,Continent,Region,Schizophrenia,Bipolar,Eating,Anxiety,Depressive,Average_ALL,GDPpc,AHDI,Income_group,Legis,Policy,%Invest,F/F_have_been_A/D_YES,Very_comfortable_speaking_about_A/D_with_F/F_YES,Verycomfortable_vs_Havebeen,talked_to_F/F,spent_time_in_nature_outdoors,improved_healthy_lifestyle_behaviors,made_change_to_personal_relationships,made_change_to_work_situation,took_prescribed_medication,talked_to_mental_health_professional,engaged_in_religious_spiritual_activities,Life_ladder,Social_support,Healthy_life_expectancy_at_birth,Freedom_to_make_life_choices,Perceptions_of_corruption,Positive_affect,Negative_affect
0,Afghanistan,AFG,Asia,Southern Asia,0.2260,0.7260,0.1218,5.0337,5.1315,2.2478,"1,934.56",0.1804,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.662,0.491,53.25,0.427,0.954,0.435,0.371
1,Albania,ALB,Europe,Southern Europe,0.3071,0.5790,0.1460,4.0993,2.6280,1.5519,"11,104.17",0.5165,3,1,1,NaN,28.00,25.49,-0.09,86.52499,88.64183,67.71693,54.19250,39.66084,40.89743,34.49906,36.17760,4.640,0.638,69.05,0.750,0.876,0.547,0.334
2,Algeria,DZA,Africa,Northern Africa,0.2638,0.8008,0.2230,5.0529,4.3729,2.1427,"14,228.03",0.3229,2,1,1,7.37,20.88,31.64,0.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.249,0.807,66.20,0.437,0.700,0.555,0.289
3,American Samoa,ASM,Oceania,Polynesia,0.3192,0.2943,0.1348,4.2545,2.7973,1.5600,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,Europe,Southern Europe,0.3157,1.0300,0.5739,6.0083,3.9744,2.3805,NaN,NaN,4,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,Vietnam,VNM,Asia,South-eastern Asia,0.3380,0.3511,0.0990,2.3891,2.5832,1.1521,"6,814.14",0.3149,2,0,0,NaN,39.87,28.22,-0.29,87.42293,70.14963,84.59566,64.91945,64.33992,47.53472,21.62709,26.91149,5.175,0.876,65.10,0.894,0.799,0.487,0.223
202,Wales,NaN,Europe,Western Europe,0.2973,0.9888,0.4503,4.6729,4.5476,2.1914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,Yemen,YEM,Asia,Western Asia,0.2324,0.7477,0.1272,4.9269,5.0420,2.2153,"2,284.89",0.1416,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.254,0.790,57.95,0.595,0.793,0.368,0.295
204,Zambia,ZMB,Africa,Eastern Africa,0.2170,0.5856,0.1169,4.0465,4.3017,1.8536,"3,534.03",0.2827,2,1,1,NaN,57.34,31.30,-0.45,85.21131,62.21714,73.74495,70.07629,62.15097,35.75948,29.77761,77.35696,3.933,0.744,53.55,0.823,0.740,0.660,0.387
205,Zimbabwe,ZWE,Africa,Eastern Africa,0.2120,0.5638,0.1029,3.2839,3.5546,1.5434,"1,611.41",0.2688,2,1,1,0.01,45.04,45.67,0.01,93.68260,64.34553,63.66773,52.76100,38.66966,41.94861,12.30104,63.31352,3.638,0.754,52.15,0.753,0.751,0.734,0.224

### 4. Exporting

In [146]:
# export prev_sub_merge as pickle

prev_sub_merge.to_pickle(os.path.join(path, '.pkl', 'all_merge.pkl'))

In [149]:
# export prev_sub_merge_num as pickle

prev_sub_merge_num.to_pickle(os.path.join(path, '.pkl', 'all_merge_numbers.pkl'))